USE [LabDBd]
GO
/****** Object:  Table [dbo].[invs_countingunit]    Script Date: 11/07/2023 09:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invs_countingunit](
	[SortIndex] [int] NOT NULL,
	[unittext] [nvarchar](20) NULL,
	[IsActive] [varchar](1) NULL,
	[saveby] [nvarchar](50) NULL,
	[stmdate] [date] NULL,
	[stmtime] [nvarchar](8) NULL,
 CONSTRAINT [PK_invs_countingunit] PRIMARY KEY CLUSTERED 
(
	[SortIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invs_product]    Script Date: 11/07/2023 09:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invs_product](
	[ProductCode] [nvarchar](10) NOT NULL,
	[ProductName] [nvarchar](80) NULL,
	[ProductTypeCode] [nvarchar](10) NULL,
	[ProductBoxCode] [nvarchar](30) NULL,
	[PackageSize] [nvarchar](30) NULL,
	[BrandName] [nvarchar](30) NULL,
	[Description] [nvarchar](120) NULL,
	[SearchKeyWord] [nvarchar](150) NULL,
	[Price_Package] [float] NULL,
	[Price_Unit] [float] NULL,
	[VendorCode] [nvarchar](8) NULL,
	[PlaceLocation] [nvarchar](50) NULL,
	[CategoryNo] [nvarchar](30) NULL,
	[BaseOfPackageMeasure] [nvarchar](20) NULL,
	[StockUnit] [nvarchar](20) NULL,
	[MinimumStock] [float] NULL,
	[MinimumStockUnit] [nvarchar](20) NULL,
	[IsActive] [varchar](1) NULL,
	[StatusStock] [int] NULL,
	[saveby] [nvarchar](50) NULL,
	[stmdate] [date] NULL,
	[stmtime] [nvarchar](8) NULL,
 CONSTRAINT [PK_invs_product] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invs_producttype]    Script Date: 11/07/2023 09:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invs_producttype](
	[ProductTypeCode] [nvarchar](10) NOT NULL,
	[ProductTypeName] [nvarchar](50) NULL,
	[IsActive] [varchar](1) NULL,
	[SortIndex] [int] NULL,
	[saveby] [nvarchar](50) NULL,
	[stmdate] [date] NULL,
	[stmtime] [nvarchar](8) NULL,
 CONSTRAINT [PK_invs_producttype] PRIMARY KEY CLUSTERED 
(
	[ProductTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invs_vendor]    Script Date: 11/07/2023 09:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invs_vendor](
	[VendorCode] [nvarchar](8) NOT NULL,
	[NameEN] [nvarchar](80) NULL,
	[NameTH] [nvarchar](80) NULL,
	[Country] [nvarchar](150) NULL,
	[AddressNo] [nvarchar](150) NULL,
	[ProvinceCode] [nvarchar](3) NULL,
	[DistrinctCode] [nvarchar](10) NULL,
	[SubDistrictCode] [nvarchar](10) NULL,
	[PostCode] [nvarchar](5) NULL,
	[ForeignAddress] [nvarchar](180) NULL,
	[TelNo] [varchar](50) NULL,
	[Email] [nvarchar](80) NULL,
	[LineId] [nvarchar](80) NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactTelNo] [varchar](50) NULL,
	[IsActive] [varchar](1) NULL,
	[saveby] [nvarchar](50) NULL,
	[stmdate] [date] NULL,
	[stmtime] [nvarchar](8) NULL,
 CONSTRAINT [PK_invs_vendor] PRIMARY KEY CLUSTERED 
(
	[VendorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[invs_countingunit] ([SortIndex], [unittext], [IsActive], [saveby], [stmdate], [stmtime]) VALUES (1, N'bag', N'Y', NULL, NULL, NULL)
INSERT [dbo].[invs_countingunit] ([SortIndex], [unittext], [IsActive], [saveby], [stmdate], [stmtime]) VALUES (2, N'bottle', N'Y', NULL, NULL, NULL)
INSERT [dbo].[invs_countingunit] ([SortIndex], [unittext], [IsActive], [saveby], [stmdate], [stmtime]) VALUES (3, N'BOX', N'Y', NULL, NULL, NULL)
GO
INSERT [dbo].[invs_product] ([ProductCode], [ProductName], [ProductTypeCode], [ProductBoxCode], [PackageSize], [BrandName], [Description], [SearchKeyWord], [Price_Package], [Price_Unit], [VendorCode], [PlaceLocation], [CategoryNo], [BaseOfPackageMeasure], [StockUnit], [MinimumStock], [MinimumStockUnit], [IsActive], [StatusStock], [saveby], [stmdate], [stmtime]) VALUES (N'IL001', N'Cryobox 100 - well divider', N'', N'-', N'-', N'Corning', N'', N'ยกเลิกใช้งาน', 0, 50, N'', N'', N'', N'Box', N'Box', 0, N'', N'N', 0, NULL, NULL, NULL)
INSERT [dbo].[invs_product] ([ProductCode], [ProductName], [ProductTypeCode], [ProductBoxCode], [PackageSize], [BrandName], [Description], [SearchKeyWord], [Price_Package], [Price_Unit], [VendorCode], [PlaceLocation], [CategoryNo], [BaseOfPackageMeasure], [StockUnit], [MinimumStock], [MinimumStockUnit], [IsActive], [StatusStock], [saveby], [stmdate], [stmtime]) VALUES (N'IL002', N'Microcentrifuge Tube(PP) 1.5 M', N'', N'', N'1000 pcs / pack', N'', N'L.Hycon (1,000 s )', N'ยกเลิกใช้งาน', 1850, 1.85, N'', N'', N'', N'-', N'Pack', 0, N'', N'N', 0, NULL, NULL, NULL)
INSERT [dbo].[invs_product] ([ProductCode], [ProductName], [ProductTypeCode], [ProductBoxCode], [PackageSize], [BrandName], [Description], [SearchKeyWord], [Price_Package], [Price_Unit], [VendorCode], [PlaceLocation], [CategoryNo], [BaseOfPackageMeasure], [StockUnit], [MinimumStock], [MinimumStockUnit], [IsActive], [StatusStock], [saveby], [stmdate], [stmtime]) VALUES (N'IL003', N'Pipettip - Blue Tips 1000  pcs.', N'', N'', N'', N'', N'', N'ยกเลิกใช้งาน', 0, 450, N'', N'', N'', N'-', N'Pack', 0, N'', N'N', 0, NULL, NULL, NULL)
GO
INSERT [dbo].[invs_producttype] ([ProductTypeCode], [ProductTypeName], [IsActive], [SortIndex], [saveby], [stmdate], [stmtime]) VALUES (N'EQM', N'Equipment(LAB ID)', N'Y', 4, NULL, NULL, NULL)
INSERT [dbo].[invs_producttype] ([ProductTypeCode], [ProductTypeName], [IsActive], [SortIndex], [saveby], [stmdate], [stmtime]) VALUES (N'GEL', N'Gene (ยีน)', N'Y', 3, NULL, NULL, NULL)
INSERT [dbo].[invs_producttype] ([ProductTypeCode], [ProductTypeName], [IsActive], [SortIndex], [saveby], [stmdate], [stmtime]) VALUES (N'IL', N'Supply (วัสดุสิ้นเปลือง)', N'Y', 1, NULL, NULL, NULL)
GO
INSERT [dbo].[invs_vendor] ([VendorCode], [NameEN], [NameTH], [Country], [AddressNo], [ProvinceCode], [DistrinctCode], [SubDistrictCode], [PostCode], [ForeignAddress], [TelNo], [Email], [LineId], [ContactName], [ContactTelNo], [IsActive], [saveby], [stmdate], [stmtime]) VALUES (N'V001', N'BANG TARDING 1992 CO.,LTD', N'บริษัท แบง เทรดดิ้ง 1992 จำกัด', N'', N'', N'', N'', N'', N'', N'', N'02-718-3333 / 086-3365757', N'www.bangtrading.com', N'-', N'คุณ พิมพาภรณ์', N'', N'Y', NULL, NULL, NULL)
INSERT [dbo].[invs_vendor] ([VendorCode], [NameEN], [NameTH], [Country], [AddressNo], [ProvinceCode], [DistrinctCode], [SubDistrictCode], [PostCode], [ForeignAddress], [TelNo], [Email], [LineId], [ContactName], [ContactTelNo], [IsActive], [saveby], [stmdate], [stmtime]) VALUES (N'V002', N'ABBOTT LABORATORIES CO.,LTD', N'บริษัท แอ๊บบอต ลาบอแรตอรีส จำกัด', N'', N'', N'', N'', N'', N'', N'', N'082-7904571', N'kritsana.treenat@abbott.com', N'-', N'คุณ กฤษณา', N'', N'Y', NULL, NULL, NULL)
INSERT [dbo].[invs_vendor] ([VendorCode], [NameEN], [NameTH], [Country], [AddressNo], [ProvinceCode], [DistrinctCode], [SubDistrictCode], [PostCode], [ForeignAddress], [TelNo], [Email], [LineId], [ContactName], [ContactTelNo], [IsActive], [saveby], [stmdate], [stmtime]) VALUES (N'V003', N'BIOMED DIAGNOSTICS ( THAILAND ) CO.,LTD', N'บริษัท ไบโอเมด ไดแอกนอสติกส์ (ประเทศไทย) จำกัด', N'', N'', N'', N'', N'', N'', N'', N'02-6972888 ', N'www.biomedthai.com', N'Biomed Somrak', N'คุณ สมรักษ์', N'', N'Y', NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[invs_countingunit] ADD  CONSTRAINT [DF_invs_countingunit_SortIndex]  DEFAULT ((0)) FOR [SortIndex]
GO
ALTER TABLE [dbo].[invs_product] ADD  CONSTRAINT [DF_invs_product_Price_Package]  DEFAULT ((0)) FOR [Price_Package]
GO
ALTER TABLE [dbo].[invs_product] ADD  CONSTRAINT [DF_invs_product_Price_Unit]  DEFAULT ((0)) FOR [Price_Unit]
GO
ALTER TABLE [dbo].[invs_product] ADD  CONSTRAINT [DF_invs_product_Status]  DEFAULT ((0)) FOR [StatusStock]
GO
ALTER TABLE [dbo].[invs_producttype] ADD  CONSTRAINT [DF_invs_producttype_SortIndex]  DEFAULT ((0)) FOR [SortIndex]
GO
