USE [master]
GO
/****** Object:  Database [LabDBc]    Script Date: 04/09/2023 11:36:49 PM ******/
CREATE DATABASE [LabDBc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabDBc', FILENAME = N'D:\Software Developer\MQL-Database\LabDBc.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LabDBc_log', FILENAME = N'D:\Software Developer\MQL-Database\LabDBc_log.ldf' , SIZE = 1536KB , MAXSIZE = 102400KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabDBc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabDBc]
GO
/****** Object:  User [laber]    Script Date: 04/09/2023 11:36:49 PM ******/
CREATE USER [laber] FOR LOGIN [laber] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [laber]
GO
/****** Object:  Table [dbo].[tbl_log_access]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_log_access](
	[frindx] [int] IDENTITY(1,1) NOT NULL,
	[company_code] [nvarchar](5) NULL,
	[module_code] [nvarchar](10) NULL,
	[menu_code] [nvarchar](60) NULL,
	[user_name] [nvarchar](60) NULL,
	[stm_date] [date] NULL,
	[stm_time] [nvarchar](8) NULL,
 CONSTRAINT [PK_tbl_log_access] PRIMARY KEY CLUSTERED 
(
	[frindx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_log_data_update]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_log_data_update](
	[frindx] [int] IDENTITY(1,1) NOT NULL,
	[company_code] [nvarchar](5) NULL,
	[module_code] [nvarchar](10) NULL,
	[menu_code] [nvarchar](60) NULL,
	[tablefield_name] [nvarchar](150) NULL,
	[control_name] [nvarchar](150) NULL,
	[trn_no] [nvarchar](50) NULL,
	[data_value] [nvarchar](max) NULL,
	[user_name] [nvarchar](60) NULL,
	[stm_date] [date] NULL,
	[stm_time] [nvarchar](8) NULL,
 CONSTRAINT [PK_tbl_log_data_update] PRIMARY KEY CLUSTERED 
(
	[frindx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_menu]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_menu](
	[module_code] [nvarchar](10) NOT NULL,
	[menu_code] [nvarchar](60) NOT NULL,
	[menu_name] [nvarchar](255) NULL,
	[mnrole] [varchar](6) NULL,
	[indexof] [int] NULL,
 CONSTRAINT [PK_tbl_menu_1] PRIMARY KEY CLUSTERED 
(
	[menu_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_module]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_module](
	[module_code] [nvarchar](10) NOT NULL,
	[module_name] [nvarchar](50) NULL,
	[indexof] [int] NULL,
 CONSTRAINT [PK_tbl_module] PRIMARY KEY CLUSTERED 
(
	[module_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_org_position]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_org_position](
	[position_id] [int] NOT NULL,
	[position_name] [nvarchar](50) NULL,
	[isenable] [varchar](1) NULL,
 CONSTRAINT [PK_tbl_org_position] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_systemconfiguration]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_systemconfiguration](
	[groupcode] [nvarchar](10) NOT NULL,
	[itemcode] [int] NOT NULL,
	[datavalue] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_systemconfiguration] PRIMARY KEY CLUSTERED 
(
	[groupcode] ASC,
	[itemcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user_role_menu]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_role_menu](
	[user_name] [nvarchar](60) NOT NULL,
	[module_code] [nvarchar](10) NOT NULL,
	[menu_code] [nvarchar](60) NOT NULL,
	[role_read] [varchar](1) NULL,
	[role_add] [varchar](1) NULL,
	[role_update] [varchar](1) NULL,
	[role_delete] [varchar](1) NULL,
	[role_print] [varchar](1) NULL,
	[role_approve] [varchar](1) NULL,
 CONSTRAINT [PK_tbl_user_role_menu] PRIMARY KEY CLUSTERED 
(
	[user_name] ASC,
	[module_code] ASC,
	[menu_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_users](
	[user_name] [nvarchar](60) NOT NULL,
	[password] [nvarchar](50) NULL,
	[user_fullname] [nvarchar](80) NULL,
	[department] [nvarchar](50) NULL,
	[is_admin] [varchar](1) NULL,
	[is_active] [varchar](1) NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwLogAccess]    Script Date: 04/09/2023 11:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwLogAccess]
AS
SELECT        dbo.tbl_log_access.company_code, dbo.tbl_log_access.module_code, dbo.tbl_module.module_name, dbo.tbl_log_access.menu_code, dbo.tbl_menu.menu_name, dbo.tbl_log_access.user_name, dbo.tbl_users.user_fullname, 
                         dbo.tbl_users.department, dbo.tbl_log_access.stm_date, dbo.tbl_log_access.stm_time, dbo.tbl_log_access.frindx
FROM            dbo.tbl_log_access LEFT OUTER JOIN
                         dbo.tbl_users ON dbo.tbl_log_access.user_name = dbo.tbl_users.user_name LEFT OUTER JOIN
                         dbo.tbl_module ON dbo.tbl_log_access.module_code = dbo.tbl_module.module_code LEFT OUTER JOIN
                         dbo.tbl_menu ON dbo.tbl_log_access.menu_code = dbo.tbl_menu.menu_code
GO
INSERT [dbo].[tbl_menu] ([module_code], [menu_code], [menu_name], [mnrole], [indexof]) VALUES (N'mdl03', N'InvtGoodsReceive', N'Goods Receipt / บันทึกรับสินค้า', N'AERP', 2)
INSERT [dbo].[tbl_menu] ([module_code], [menu_code], [menu_name], [mnrole], [indexof]) VALUES (N'mdl03', N'InvtPurchaseRequest', N'Purchased Requisition (PR) / บันทึกออกใบขอซื้อ', N'AERP', 1)
INSERT [dbo].[tbl_menu] ([module_code], [menu_code], [menu_name], [mnrole], [indexof]) VALUES (N'mdl03', N'InvtStockAdjust', N'บันทึกเบิกสินค้า', N'AERP', 3)
GO
INSERT [dbo].[tbl_module] ([module_code], [module_name], [indexof]) VALUES (N'mdl01', N'ตั้งค่าระบบ', 10)
INSERT [dbo].[tbl_module] ([module_code], [module_name], [indexof]) VALUES (N'mdl02', N'Laboratory', 20)
INSERT [dbo].[tbl_module] ([module_code], [module_name], [indexof]) VALUES (N'mdl03', N'Inventory', 30)
GO
INSERT [dbo].[tbl_org_position] ([position_id], [position_name], [isenable]) VALUES (1, N'Laboratory director', N'Y')
INSERT [dbo].[tbl_org_position] ([position_id], [position_name], [isenable]) VALUES (2, N'นักเทคนิคการแพทย์', N'Y')
INSERT [dbo].[tbl_org_position] ([position_id], [position_name], [isenable]) VALUES (3, N'เจ้าหน้าที่ธุรการ', N'Y')
GO
INSERT [dbo].[tbl_user_role_menu] ([user_name], [module_code], [menu_code], [role_read], [role_add], [role_update], [role_delete], [role_print], [role_approve]) VALUES (N'user1', N'mdl01', N'sysCompany', N'Y', N'N', N'N', N'N', N'N', N'N')
INSERT [dbo].[tbl_user_role_menu] ([user_name], [module_code], [menu_code], [role_read], [role_add], [role_update], [role_delete], [role_print], [role_approve]) VALUES (N'user1', N'mdl01', N'sysConfig', N'Y', N'N', N'N', N'N', N'N', N'N')
INSERT [dbo].[tbl_user_role_menu] ([user_name], [module_code], [menu_code], [role_read], [role_add], [role_update], [role_delete], [role_print], [role_approve]) VALUES (N'user1', N'mdl01', N'sysHistoryLog', N'N', N'N', N'N', N'N', N'Y', N'N')
GO
INSERT [dbo].[tbl_users] ([user_name], [password], [user_fullname], [department], [is_admin], [is_active]) VALUES (N'user1', N'dzA688sBSbk=', N'userA Ater Tcaat', N'acc', N'N', N'Y')
INSERT [dbo].[tbl_users] ([user_name], [password], [user_fullname], [department], [is_admin], [is_active]) VALUES (N'user2', N'MnBRf8b+7SA=', N'usre BBB  bba', N'account', N'N', N'Y')
INSERT [dbo].[tbl_users] ([user_name], [password], [user_fullname], [department], [is_admin], [is_active]) VALUES (N'user3', N'7y2jPOGB+QQ=', N'cccc ', N'acc', N'N', N'Y')
GO
ALTER TABLE [dbo].[tbl_log_access] ADD  CONSTRAINT [DF_tbl_log_access_stm_time]  DEFAULT (CONVERT([varchar],getdate(),(108))) FOR [stm_time]
GO
ALTER TABLE [dbo].[tbl_menu] ADD  CONSTRAINT [DF_tbl_menu_indexof]  DEFAULT ((0)) FOR [indexof]
GO
ALTER TABLE [dbo].[tbl_module] ADD  CONSTRAINT [DF_tbl_module_indexof]  DEFAULT ((0)) FOR [indexof]
GO
ALTER TABLE [dbo].[tbl_users] ADD  CONSTRAINT [DF_tbl_users_is_admin]  DEFAULT ('N') FOR [is_admin]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[62] 4[14] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_log_access"
            Begin Extent = 
               Top = 55
               Left = 132
               Bottom = 324
               Right = 302
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_users"
            Begin Extent = 
               Top = 28
               Left = 673
               Bottom = 212
               Right = 843
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_module"
            Begin Extent = 
               Top = 24
               Left = 373
               Bottom = 137
               Right = 543
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_menu"
            Begin Extent = 
               Top = 160
               Left = 518
               Bottom = 305
               Right = 688
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwLogAccess'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwLogAccess'
GO
USE [master]
GO
