USE [LabDBd]
GO


/****** Object:  Table [dbo].[lab_tbl_staff]    Script Date: 20/01/2023 11:26:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lab_tbl_staff]') AND type in (N'U'))
DROP TABLE [dbo].[lab_tbl_staff]
GO

/****** Object:  Table [dbo].[lab_tbl_staff]    Script Date: 20/01/2023 11:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_tbl_staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[NameTH] [nvarchar](150) NULL,
	[NameEN] [nvarchar](150) NULL,
	[ShortName] [nvarchar](5) NULL,
	[LicenseDetail] [nvarchar](150) NULL,
	[Position] [nvarchar](80) NULL,
	[DateStart] [date] NULL,
	[DateEnd] [date] NULL,
	[IsUnActive] [nvarchar](1) NULL,
	[saveby] [nvarchar](50) NULL,
	[stmdate] [date] NULL,
	[stmtime] [nvarchar](8) NULL,
 CONSTRAINT [PK_lab_tbl_staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[lab_tbl_staff] ON 

INSERT [dbo].[lab_tbl_staff] ([StaffID], [NameTH], [NameEN], [ShortName], [LicenseDetail], [Position], [DateStart], [DateEnd], [IsUnActive], [saveby], [stmdate], [stmtime]) VALUES (1, N'นางสาว มัณฑนา ไพสาณย์          ', N'Mantana Paisan   ', N'MP', N'ใบอนุญาตที่ ทน. 6774  ', N'นักเทคนิคการแพทย์', CAST(N'2005-05-15' AS Date), NULL, N'Y', NULL, NULL, NULL)
INSERT [dbo].[lab_tbl_staff] ([StaffID], [NameTH], [NameEN], [ShortName], [LicenseDetail], [Position], [DateStart], [DateEnd], [IsUnActive], [saveby], [stmdate], [stmtime]) VALUES (2, N'นางสาว จิราพร เหง้าดา              ', N'Jiraporn Ngoada               ', N'JN', N'ใบอนุญาตที่ ทน. 11653   ', N'นักเทคนิคการแพทย์', CAST(N'2011-03-03' AS Date), NULL, N'Y', NULL, NULL, NULL)
INSERT [dbo].[lab_tbl_staff] ([StaffID], [NameTH], [NameEN], [ShortName], [LicenseDetail], [Position], [DateStart], [DateEnd], [IsUnActive], [saveby], [stmdate], [stmtime]) VALUES (3, N'นางสาว กนกวรรณ นันทะเสนา      ', N'Kanokwan Nantasena', N'KN', N'ใบอนุญาตที่ ทน. 17149   ', N'นักเทคนิคการแพทย์', CAST(N'2019-08-01' AS Date), NULL, N'Y', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[lab_tbl_staff] OFF
GO
